<p>
  Herzlich willkommen auf kibuso.de!
</p>

<% if logged_in? %>
  <p>
    Home, eingeloggt. No content yet.
  </p>
<% else %>
  <p>
    kibuso.de ist eine Platform, auf der Sie kostenlos Ihre Buchhaltung führen 
    können.
  </p>
  
  <p>
    Das Feature, das kibuso.de zusätzlich anbietet, ist, dass 
    Rechnungen an die Kunden per E-Mail auf Knopfdruck, oder an einem bestimmten 
    Datum verschickt werden können.
  </p>
  
  <p>
    Melden Sie sich an und probieren Sie kibuso.de aus.
    <%= link_to "Anmelden!", signup_path %>
  </p>
<% end %>