<%= form_for [@user, @journal] do |f| %>
  <% if journal.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(journal.errors.count, "error") %>.
    </div>
    <ul>
    <% journal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  Soll Konto Nummer<br>
  <%= f.text_field :from_account_number, class: 'form-control' %>

  Soll Konto<br>
  <%= f.text_field :from_account, class: 'form-control' %>

  Soll Konto Betrag<br>
  <%= f.text_field :from_amount, class: 'form-control' %>
  
  Soll Konto Buchung Umsatzsteuer
  <%= f.select("post", "person_id", options_for_select([["Dollar", "$"], ["Kroner", "DKK"]]), { include_blank: true }) %>

  Haben Konto Nummer<br>
  <%= f.text_field :to_account_number, class: 'form-control' %>

  Haben Konto<br>
  <%= f.text_field :to_account, class: 'form-control' %>

  Haben Konto Betrag<br>
  <%= f.text_field :to_amount, class: 'form-control' %>


  <%= f.submit "Buchen", class: "btn btn-primary" %>
<% end %>
