<%  @hauptbuch.each do |hauptbuch_line|
      @konto = createKonto(params[:user_id], hauptbuch_line[0])
%>

<table class="table table-striped">
  <thead>
    <tr>
      <td colspan="3"><%= hauptbuch_line[0] %></td>
      <td colspan="3"><%= hauptbuch_line[1] %></td>
    </tr>
    <tr>
      <th class="border-bottom journal-width">Soll Konto Nummer</th>
      <th class="border-bottom journal-width">Soll Konto Name</th>
      <th class="border-right border-bottom journal-width">€</th>
      <th class="border-bottom journal-width">Haben Konto Nummer</th>
      <th class="border-bottom journal-width">Haben Konto Name</th>
      <th class="border-bottom journal-width">€</th>
    </tr>
  </thead>
  
  <tbody>
<%
      @konto.each do |row|
%>

      <tr>
        <td><%= row[0] %></td>
        <td><%= row[1] %></td>
        <td class="border-right"><%= row[2] %></td>
        <td><%= row[3] %></td>
        <td><%= row[4] %></td>
        <td><%= row[5] %></td>
      </tr>
    
  
<%
      end
%>
    </tbody>
  </table>
<%
    end
%>

<%    
    eroeffnung(params[:user_id])
%>