
<%  @hauptbuch.each do |hauptbuch_line|
      @konto = createKonto(params[:user_id], hauptbuch_line[0])
%>
<table class="table table-striped center">
  <thead>
    <tr>
      <td colspan="3"><%= hauptbuch_line[0] %></td>
      <td colspan="3"><%= hauptbuch_line[1] %></td>
    </tr>
    <tr class="border-bottom journal-width">
      <th class="center">Soll Konto Nummer</th>
      <th class="center">Soll Konto Name</th>
      <th class="center" id="border-right">€</th>
      <th class="center">Haben Konto Nummer</th>
      <th class="center">Haben Konto</th>
      <th class="center">€</th>
    </tr>
  </thead>
  
  <tbody>
<%
      @konto.each do |row|
%>

      <tr>
        <td><%= row[0] %></td>
        <td class="hover"><%= row[1] %></td>
        <td id="border-right"><%= row[2] %></td>
        <td><%= row[3] %></td>
        <td class="hover"><%= row[4] %></td>
        <td><%= row[5] %></td>
      </tr>
    
  
<%
      end
%>
    </tbody>
  </table>
<%
    end
%>