<h1 class="center">Hauptbuch</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="border-bottom hauptbuch-width">Kontonummer</th>
      <th class="border-bottom hauptbuch-width">Kontoname</th>
    </tr>
  </thead>
  
  <tbody>
    <% @hauptbuch.each do |row| %>
      <tr>
        <td onmouseover="changeBackgroundColor(this, 0)" 
            onmouseout="changeBackgroundColor(this, 1)"
            onclick="changeBackgroundColor(this, 1)"
            data-link="<%= user_journals_konto_path(current_user.id, 
              query: row[0]) %>"
            class="link"
          ><%= row[0] %>
        </td>
        <td onmouseover="changeBackgroundColor(this, 0)" 
            onmouseout="changeBackgroundColor(this, 1)"
            onclick="changeBackgroundColor(this, 1)"
            data-link="<%= user_journals_konto_path(current_user.id, 
              query: row[0]) %>"
            class="link"
          ><%= row[1] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>