<h1 class="center">Hauptbuch</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="border-bottom hauptbuch-width">Soll Konto Nummer</th>
      <th class="border-right border-bottom hauptbuch-width">Soll Konto</th>
      <th class="border-bottom hauptbuch-width">Haben Konto Nummer</th>
      <th class="border-bottom hauptbuch-width">Haben Konto</th>
    </tr>
  </thead>
  
  <tbody>
    <% @hauptbuch.each do |row| %>
      <tr>
        <td <% if row[0] != "-" then %>
              onmouseover="changeBackgroundColor(this, 0)" 
              onmouseout="changeBackgroundColor(this, 1)"
              onclick="changeBackgroundColor(this, 1)"
              data-link="<%= user_journals_konto_path(current_user.id, 
                query: row[0]) %>"
              class="link"
            <% end %>
          ><%= row[0] %>
        </td>
        <td <% if row[0] != "-" then %>
              onmouseover="changeBackgroundColor(this, 0)" 
              onmouseout="changeBackgroundColor(this, 1)"
              onclick="changeBackgroundColor(this, 1)"
              data-link="<%= user_journals_konto_path(current_user.id, 
                query: row[0]) %>"
              class="link border-right"
            <% else %>
              class="border-right"
            <% end %>
          ><%= row[1] %>
        </td>
        <td <% if row[2] != "-" then %>
              onmouseover="changeBackgroundColor(this, 0)" 
              onmouseout="changeBackgroundColor(this, 1)"
              onclick="changeBackgroundColor(this, 1)"
              data-link="<%= user_journals_konto_path(current_user.id, 
                query: row[2]) %>"
              class="link"
            <% end %>
          ><%= row[2] %>
        </td>
        <td <% if row[2] != "-" then %>
              onmouseover="changeBackgroundColor(this, 0)" 
              onmouseout="changeBackgroundColor(this, 1)"
              onclick="changeBackgroundColor(this, 1)"
              data-link="<%= user_journals_konto_path(current_user.id, 
                query: row[2]) %>"
              class="link"
            <% end %>
          ><%= row[3] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>