<%= current_user.email %>
<br>
<%= link_to 'Neuen Journaleintrag erstellen', new_user_journal_path %>
<h1 class="center">Journaleinträge</h1>
<table class="table table-striped center">
  <thead>
    <tr class="border-bottom journal-width">
      <th class="center">Soll Konto Nummer</th>
      <th class="center">Soll Konto Name</th>
      <th class="center" id="border-right">€</th>
      <th class="center">Haben Konto Nummer</th>
      <th class="center">Haben Konto</th>
      <th class="center">€</th>
    </tr>
  </thead>
  
  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.from_account_number %></td>
        <td class="hover"><%= journal.from_account %></td>
        <td id="border-right"><%= journal.from_amount %></td>
        <td><%= journal.to_account_number %></td>
        <td class="hover"><%= journal.to_account %></td>
        <td><%= journal.to_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>