<h1>Konto</h1>
<h1><%= @konto_number %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="border-bottom konto-width">Soll Konto Nummer</th>
      <th class="border-bottom konto-width">Soll Konto</th>
      <th class="border-right border-bottom konto-width">Soll Konto Betrag</th>
      <th class="border-bottom konto-width">Haben Konto Nummer</th>
      <th class="border-bottom konto-width">Haben Konto</th>
      <th class="border-bottom konto-width">Haben Konto Betrag</th>
    </tr>
  </thead>
  
  <tbody>
    <% @konto.each do |row| %>
      <tr>
        <td>
            <%= row[0] %>
        </td>
        <td>
            <%= row[1] %>
        </td>
        <td class="border-right">
            <%= row[2] %>
        </td>
        <td>
            <%= row[3] %>
        </td>
        <td>
            <%= row[4] %>
        </td>
        <td>
            <%= row[5] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>