<h1>New Journal</h1>
<br>
<%= form_for [@user, @journal] do |f| %>
  <% if @journal.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize((@journal.errors.count), "error") %>.
      </div>
      <ul>
        <% @journal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  Soll Konto Nummer<br>
  <%= f.text_field :from_account_number, class: 'form-control' %>

  Soll Konto<br>
  <%= f.text_field :from_account, class: 'form-control' %>

  Soll Konto Betrag<br>
  <%= f.text_field :from_amount, class: 'form-control', 
    onchange: "copyAmount(this)" %>

  Soll Konto Buchung Umsatzsteuer
  <%= 
    select("umsatzsteuer", "soll_umsatzsteuer_id", options_for_select([["19 %", "19"], ["7 %", "7"]]),
    { include_blank: true }, class: 'form-control')
  %>

  Haben Konto Nummer<br>
  <%= f.text_field :to_account_number, class: 'form-control' %>

  Haben Konto<br>
  <%= f.text_field :to_account, class: 'form-control' %>

  Haben Konto Betrag<br>
  <%= f.text_field :to_amount, class: 'form-control', 
    onchange: "copyAmount(this)" %>

  Haben Konto Buchung Umsatzsteuer
  <%= 
    select("umsatzsteuer", "haben_umsatzsteuer_id", options_for_select([["19 %", "19"], ["7 %", "7"]]),
    { include_blank: true }, class: 'form-control')
  %>

  <%= f.submit "Buchen", class: "btn btn-primary" %>
<% end %>