/*
h1 {
  margin-left: 0; }

p {
  margin-left: 50; }

table {
  width: 100%;
  table-layout: fixed; }

td {
  overflow: hidden; }

.border-bottom {
  border-bottom: 5px solid red !important; }

.border-right {
  border-right: 5px solid red; }

.center {
  text-align: center; }

.hauptbuch-width {
  width: 25%; }
*/
/*
.hover:hover {
  background-color: #ffff99;
}

td.hover:hover {
  overflow: visible;
  background-color: white;
  display: inline-block;
  position: relative;
  outline: 2px solid #f00; }

.journal-width, .konto-width {
  width: 16%; }

.link {
  cursor: pointer; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th,
.table-striped > tbody > tr:nth-child(odd) > td > a {
  background-color: green;
  color: white; }

.yellow {
  background-color: yellow !important; }

.alwaysbreak {
  page-break-before: always; }
*/
/*
#header {
  position: absolute;
  margin-bottom: 50px;
}

#main {
  position: absolute;
}
*/

/*# sourceMappingURL=journals.css.map */
