// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  margin-left:0;
}

p {
  margin-left: 50;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  //word-wrap:break-word
  overflow: hidden;
  //border:1px solid #333;
  white-space:nowrap;
  
}

.border-bottom {
  border-bottom: 5px solid red !important;
}

#border-right {
  border-right: 5px solid red;
}

.center {
  text-align: center;
}

.hauptbuch-width {
  width: 25%;
}
/*
.hover:hover {
  background-color: #ffff99;
}
*/

td.hover:hover{
  overflow: visible;
  //height:auto;
  background-color: white;
  display: inline-block;
  //height: 100%;
  //z-index: 1; 
  position:relative;
  //border-width: 0px;
  //padding: 8px;
  //outline:2px solid #ff0;
}

.journal-width, .konto-width {
  width: 16%;
}

.link { 
  cursor: pointer;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th,
.table-striped>tbody>tr:nth-child(odd)>td>a {
  background-color: green; // Choose your own color here
  color: white;
  padding: 0px;
  border: 0px;
  //padding: 5px;
  //z-index: -1;
  //position:relative;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th,
.table-striped>tbody>tr:nth-child(even)>td>a {
  background-color: white; // Choose your own color here
  color: black;
  padding: 0px;
  border: 0px;
  //z-index: -1;
  //padding: 5px;
  //z-index: -1;
  //position:relative;
}

// test
.yellow {
    background-color: yellow !important;
}

.alwaysbreak { page-break-before: always; }
/*
#header {
  position: absolute;
  margin-bottom: 50px;
}

#main {
  position: absolute;
}
*/