<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "kibuso.de Buchhaltung", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Journal <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Journaleintrag erstellen", new_user_journal_path(current_user) %></li>
              <li><%= link_to "Journaleintraege", user_journals_path(current_user.id) %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Hauptbuch <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Hauptbucheintraege", user_journals_hauptbuch_path(current_user.id) %></li>
              <li><%= link_to "Abschlussbuchung erstellen", user_journals_abschluss_path(current_user.id) %></li>
              <li><%= link_to "letzter Abschluss als PDF", user_journals_createPdf_path(current_user.id, :format => 'pdf') %></li>
            </ul>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Anmelden", signup_path %></li>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>